header{
    background:#BBBBBB;
    padding: 20px 0;
}

#banner{width: 100%;}

.main{
    background: #CCCCCC;
    padding: 30px;
}
/*/////////////////////////////////////////////
.caixa{
    position: relative;
    width:940px;
    margin: 0 auto;
}
/////////////////////////////////////////////*/
nav{
    position: absolute;
    top:0;
    right:0;
}

.alinha-titulo{
    display: inline;
    margin-left:15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{/*mapeia o mouse informando quando ele esta porcima do elemento*/
    color: #C78C19;
    text-decoration: underline;
}

nav a:active{
    color: #a10a0a;
}

.titulo-principal{
    display:inline-block;
    padding-left: 20px;
}

.Titulo-Centralizado{text-align: center}

p {text-align: center}

#missao{font-size: 20px}

em strong{color: #FF0000}

.itens{font-style: italic}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

ul{
    display: inline-block; 
    vertical-align: top;
    width: 20%;
    margin-right: 15%
}

.imgBeneficios{width: 50%;}